---
import { count } from './rpc/[whatever]'
// @ts-ignore
import favicon from './favicon.svg'
const initialCount = count
---
<head>
	<meta charset="utf-8">
	<link rel="icon" type="image/svg+xml" href={favicon}>
	<meta name="viewport" content="width=device-width">
	<meta name="generator" content={Astro.generator}>
	<title>Astro</title>
</head>

<script>
	
	import { createTRPCProxyClient, httpBatchLink } from '@trpc/client'
	import type { AppRouter } from './rpc/[whatever]'
	
	const trpc = createTRPCProxyClient<AppRouter>({
		links: [
			httpBatchLink({ url: window.location.origin + '/rpc' })
		]
	})

	const decrementButton  = document.querySelector("#decrement") as HTMLButtonElement
	const countSpanElement = document.querySelector("#count")     as HTMLSpanElement
	const incrementButton  = document.querySelector("#increment") as HTMLButtonElement

	decrementButton.onclick = async _ => {
		const currentCount = await trpc.decrement.mutate()
		countSpanElement.dataset.count = String(currentCount)
	}

	incrementButton.onclick = async _ => {
		const currentCount = await trpc.increment.mutate()
		countSpanElement.dataset.count = String(currentCount)
	}
	
	new MutationObserver(_ => countSpanElement.textContent = countSpanElement.dataset.count!)
	.observe(countSpanElement, { attributes: true })

</script>

<body>
	<button id="decrement">-</button>
	<span id="count" data-count={initialCount}>{initialCount}</span>
	<button id="increment">+</button>
</body>